[submodule "SDL"]
	path = src/third_party/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = release-2.24.0
[submodule "VVVVVV"]
	path = src/cpp/VVVVVV
	url = https://github.com/TerryCavanagh/VVVVVV
